<button id="pump" class="btn btn-primary my-2">aktivot pumpa</button>
<br />
<br />
<button id="gate1" class="btn btn-primary my-2">laistyt zole</button><br />
<button id="gate2" class="btn btn-primary my-2">laistyt pomidora</button><br />
<button id="gate3" class="btn btn-primary my-2">laistyt braskes</button><br />